@import url('https://fonts.googleapis.com/css?family=Quicksand');
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 60px;
  margin-bottom: 60px;
}
#editor {
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
}
.footer .text-muted {
  margin: 20px 0;
  color: #999;
  font-size: 10px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.jumbotron {
  position:fixed; height:100%; width:100%; top:0; left: 0;
  background: url(/static/img/bg.jpg) no-repeat; background-size:cover; color: white;
}

.fancy, .navbar {
  font-weight: bold;
  font-family: 'Quicksand';
}
#cast-edit-sidebar {
  position: absolute;
  width: 20%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 52px 0 0 0;
  z-index: 2;
}

#cast-edit-main {
  position: absolute;
  width: 80%;
  height: 100%;
  right:0;
  top: 0;
  padding: 52px 0 0 0;
  z-index: 2;
}
#cast-edit-main iframe {
  width: 100%;
  height: 100%;
  z-index: 3;
  position: relative;
}

.pricing .panel {
  text-align: center;
}
.pricing h3.panel-title {
  font-size: 32px;
}
.pricing h1 {
  font-size: 36px;
  margin-bottom:20px;
}
.pricing ul {
  font-size:18px
}
