{% extends 'views/__master.html' %}

{% block header %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/admin.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% endblock %}

{% block container %}
{% include "components/NavMain.html" %}
{% block body %}
{% endblock %}
{% endblock %}

{% block footer %}
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script type="text/javascript" src="/static/js/admin.js"></script>
{% if all %}
<script type="text/javascript">
//<![CDATA[
  window.JINJA_ALL = {{ all|safe }};
//]]>
</script>
{% endif %}
{% endblock %}
