{% extends "views/_app.html" %}
{% block body %}
<div class="container">
  <div class="page-header">
    <div class="pull-right">
      <a href="/" class="btn btn-link btn-lg">Cancel</a>
      <button type="submit" class="btn btn-primary btn-lg">Save and Continue</button>
    </div>
    <h1>Create Website <small>Get started now for free.</small></h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      {% include "components/FormUser.html" %}
      {% include "components/FormCompany.html" %}
    </div>
    <div class="col-md-6">
      {% include "components/Pricing.html" %}
    </div>

  </div>

</div>
{% endblock %}
