<div class="form-group">
    <label for="account-url">What do you want to call your site?</label>
    <input type="url" class="form-control input-lg" id="account-url" name="website" placeholder="e.g. My Awesome Website" value="{{ website.name }}" required />
</div>
<br /><br />
<div class="form-group">
    <label for="account-url">Do you have a website domain yet? (If not, leave it blank and we'll set it up later)</label>
    <input type="url" class="form-control input-lg" id="account-url" name="subdomain" placeholder="e.g. myawesomesite.com" value="{{ website.id }}" required />
</div>

