<div class="well">
  <div class="form-group">
      <label for="account-name">Company Name</label>
      <input type="text" class="form-control" id="account-name" name="company" placeholder="Acme Products, Inc." value="{{ account.name }}" required />
  </div>
  <div class="form-group">
      <label for="account-url">Company Website</label>
      <input type="url" class="form-control" id="account-url" name="website" placeholder="http://acme.com" value="{{ account.website }}" required />
  </div>
</div>
