<ul class="nav nav-pills nav-stacked">
  <li class="active">
    <a href="/a/">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      &nbsp;&nbsp;
      Dashboard
    </a>
  </li>
  <li>
    <a href="/a/menu">
      <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
      &nbsp;&nbsp;
      Menus
    </a>
  </li>
  <li>
    <a href="/a/theme">
      <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
      &nbsp;&nbsp;
      Themes
    </a>
  </li>
  <li>
    <a href="/a/template">
      <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
      &nbsp;&nbsp;
      Templates
    </a>
  </li>
</ul>
