<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li class="dropdown">
        <a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </a>
        <ul class="dropdown-menu">
          <li {% if app.endpoint == "home" %}class="active"{% endif %}>
            <a href="{{ env.admin }}/" >
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
              <span class="icon-text">Home</span>
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li {% if app.endpoint == "sites" %}class="active"{% endif %}>
            <a href="{{ env.admin }}/sites/" >
              <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
              <span class="icon-text">Websites</span>
            </a>
          </li>
          <li {% if app.endpoint == "contacts" %}class="active"{% endif %}>
            <a href="{{ env.admin }}/contacts/" >
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              <span class="icon-text">Contacts</span>
            </a>
          </li>
          <li {% if app.endpoint == "analytics" %}class="active"{% endif %}>
            <a href="{{ env.admin }}/analytics/">
              <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
              <span class="icon-text">Analytics</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ env.admin }}/">{{ env.name }}</a>
    </div>
    {% if websites %}
    <ul class="nav navbar-nav navbar-left ">
      <li class="dropdown">
        <a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          {% if website %}
            {{ website.name }}
          {% else %}
            Select a website
          {% endif %}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          {% if website %}
            <li {% if app.endpoint == "account" %}class="active"{% endif %}>
              <a href="{{ env.admin }}/!/{{ website.id }}/">Visit Website <span class="glyphicon glyphicon-share-alt pull-right" aria-hidden="true"></span></a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Websites</li>
          {% endif %}
          {% for w in websites %}
            <li>
              <a href="{{ env.admin }}/sites/dashboard?id={{ w.id }}">{{ w.name }}</a>
            </li>
          {% endfor %}
          <li role="separator" class="divider"></li>
          <li>
            <a href="{{ env.admin }}/sites/create">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              Create Website
            </a>
          </li>
        </ul>
      </li>
      {% if website %}
      <li class="dropdown">
        <a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="{{ env.admin }}/sites/posts?id={{ website.id }}">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Post
            </a>
          </li>
          <li>
            <a href="{{ env.admin }}/sites/pages?id={{ website.id }}">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Page
            </a>
          </li>
        </ul>
      </li>
      {% endif %}
    </ul>
    {% endif %}
    <ul class="nav navbar-nav navbar-right ">
      <li class="dropdown user-profile {% if app.endpoint in ['user', 'account'] %}active{% endif %}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <img src="{{ user.id|gravatar }}" class="img-circle img-responsive" />
        </a>
        <ul class="dropdown-menu">
          <li>
              <img class="img-circle img-responsive pull-left" src="{{ user.id|gravatar}}" />
              <div class="pull-left">
                <h4><strong>{{ user.name }}</strong></h4>
                <h5>{{ account.name }}</h5>
                <a href="{{ env.admin }}/account/" class="btn btn-primary btn-sm">Manage Account</a>
              </div>
              <div style="clear:both"></div>
          </li>
          {% if app.is_admin %}
          <li role="separator" class="divider"></li>
          <li {% if app.endpoint == "system" %}class="active"{% endif %}>
            <a href="{{ env.admin }}/system/">
              System Admin
            </a>
          </li>
          {% endif %}
          <li role="separator" class="divider"></li>
          <li><a href="/">Visit MistyCMS.com</a></li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="{{ app.logout_url }}">
              Sign out
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
