<div class="row pricing">
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Personal</h3>
        </div>
        <div class="panel-body">
          <h1>FREE</h1>
          <hr />
          <h6>Get your idea off the ground quickly with a 100% free website.</h6>
          <hr />
          <ul class="list-unstyled">
            <li>5 Pages</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Business</h3>
        </div>
        <div class="panel-body">
          <h1>$50<small>/mo</small></h1>
          <hr />
          <h6>Grow your business with unlimited bandwidth and storage.</h6>
          <hr />
          <ul class="list-unstyled">
            <li>Unlimited pages</li>
          </ul>
        </div>
      </div>
    </div>
 </div>
